.form-control {
  margin-bottom: 10px;
}

.justify_start {
  display: flex;
  justify-content: flex-start;
}

.justify_center {
  display: flex;
  justify-content: center;
}

.justify_end {
  display: flex;
  justify-content: flex-end;
}